.banner{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 200, 0.1) 50%), url(../../images/background.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 15px 0px;
}

.banner h1 {
	font-size: 75px;
}

.banner h5 {
	font-size: 40px;
	font-weight: lighter;
	opacity: 0.8;
	font-style: italic;
}
